*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


:root{
    --primary-color: #1a1d29
}

.toolbox-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    background-color: var(--primary-color);
}

.brand-section{
    display: flex;
    align-items: center;
}

.brand-title{
    color: white;
    margin: 1.5rem;
}

.filter-label{
    color: white;
}

.toolbox-priority-colors{
    display: flex;
    align-items: center;
}

.color-filters{
    display: flex;
    
    
}

.color{
   
    height: 3rem;
    width: 3rem;
    margin: 0.5rem;
    border-radius: 50%;
}


.lightpink{
background-color: lightpink;
}

.lightgreen{
background-color: lightgreen;
}

.lightblue{
background-color: lightblue;
}

.lightyellow{
background-color: yellow;
}

action-btn-cont {
    display: flex;
    gap: 1rem;
    flex: 1;
    justify-content: flex-end;
}

.action-btn-cont {
    display: flex;
    gap: 1rem;
}

.add-btn, .remove-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-weight: 500;
    border: 2px solid transparent;
}

.add-btn {
    background: #22c55e;
    color: white;
}

.remove-btn {
    background: #ef4444;
    color: white;
}

.main-cont{
  display: flex;
  flex-wrap: wrap;
}

.ticket-cont{
  margin: 2.5rem;
  height: 10rem;
  width: 16rem;
  background-color: yellow;
  border-radius: 10%;
}

.ticket-color{
   background-color: lightpink;
   height:1rem ;
   border-radius: 10%;
}


.ticket-id{
  background-color:salmon ;
  height: 2rem;
}

.task-area{

}


.ticket-lock{

}





